html, body {
	background: black;
	scroll-behavior: smooth;
}

#parent-nav {
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
  	top: 0;
  	right: 0;
  	padding-right: 3em;
  	padding-left: 3em;
  	padding-bottom: 1em;
  	padding-top: 1em;
    background: rgb(0, 0, 0);
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

#child-nav {
    display: flex;
    gap: 5em;
}

.nav {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.nav:hover {
	color: black;
	text-decoration: none;
    background-color: rgb(255, 255, 255);
}

.nav-cur {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-decoration: none;
    padding: 5px;
    transform: skew(-10deg);
}

.nav-cur:hover {
	color: black;
	text-decoration: none;
    background-color: rgb(255, 255, 255);
}

#parent-main {
	margin: auto 3em 3em 3em;
	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  	height: 100vh;
}

#child-main {
	width: fit-content;
  	height: auto;
  	margin: 0;
}

#title {
	color: white;
	font-size: 10em;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	transition: transform 0.3s ease;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

#title:hover {
	transform: translateX(0.3em);
	color: rgb(179, 48, 48);
}

.d-main {
	font-size: 3em;
	color: white;
	font-family: Monospace, serif;
}

#parent-bottom {
	margin-right: 3em;
	margin-bottom: 3em;
	margin-top: 3em;
	display: flex;
  	justify-content: flex-end;
  	justify-content: space-between;
  	align-items: flex-end;
}

#child-bottom {
	width: fit-content;
  	height: auto;
}

#about {
	width: 50vw;
	color: white;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	background-color: black;
	text-decoration: none;
	transition: transform 0.3s ease;
	cursor: pointer;
	border: none;
	text-align: left;
}

#about:hover {
	transform: translateX(0.5em);
/*	color: rgb(179, 48, 48);*/
}

.d-bottom {
	font-size: 1.5em;
	color: white;
	font-family: Monospace, serif;
}

/*#cat-container {
	position: relative;
	left: 0;
}

#blink {
	overflow: hidden;
    position: absolute;
  	bottom: 0;
  	left: 0;
}*/

#blink {
  	transform: scaleX(-1);
  	margin: 1em;
  	justify-self: center;
}



.nav-gore {
    font-family: Helvetica, sans-serif;
    font-size: 5em;
    color: white;
    text-decoration: none;
    padding: 5px;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
}

.nav-gore:hover {
	color: black;
	text-decoration: none;
    background-color: rgb(255, 255, 255);
}

#title1 {
	color: white;
	font-size: 2em;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	text-align: right;
	border: none;
	transition: transform 0.3s ease;
}

#title1:hover {
	transform: translateX(0.3em);
	color: rgb(179, 48, 48);
}

#parent-main1 {
	margin: 10em 3em 3em 3em;
	display: flex;
  	align-items: flex-start;
  	justify-content: flex-start;
  	height: 100vh;
}

#child-main1 {
	width: fit-content;
  	height: auto;
  	margin: 0;
}


#head1 {
	font-size: 5em;
	color: white;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	transition: transform 0.3s ease;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

#head1:hover {
	transform: translateX(0.3em);
}

.d-main1 {
	font-size: 1em;
	color: white;
	font-family: Monospace, serif;
}

/*.d-main-bottom1 {
	font-size: 1em;
	color: white;
	font-family: Monospace, serif;
}*/

#landing-p {
	width: 50vw;
	color: white;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	background-color: transparent;
	text-decoration: none;
	transition: transform 0.3s ease;
	cursor: pointer;
	border: none;
	text-align: left;
}

#landing-p:hover {
	transform: translateX(0.3em);
}