html, body {
	background: black;
	scroll-behavior: smooth;
}

#parent-nav {
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-start;*/
/*    width: 100vw;*/
/*    border: 2px solid white;*/
    box-sizing: border-box;
/*    background-color: black;*/
    overflow: hidden;
    position: fixed;
  	top: 0;
  	right: 0;
  	padding-top: 3em;
  	padding-right: 3em;
  	padding-left: 3em;
  	padding-bottom: 1em;
  	width: auto;
}

#child-nav {
    display: flex;
    gap: 5em;
}

.nav {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    color: white;
/*    border: 2px solid white;*/
    text-decoration: none;
    padding: 5px;
    float: right;
/*    transform: skewX(-10deg);*/
    border-radius: 3px;
    border: solid black 3px;
    background: rgb(0, 0, 0, 0.9);
}

.nav:hover {
	color: black;
	text-decoration: none;
	border-radius: 3px;
	border: solid white 3px;
    background-color: rgb(255, 255, 255, 0.9);
}

#parent-main {
	margin: auto 3em 3em 3em;
	display: flex;
  	align-items: center;
  	justify-content: flex-start;
/*  	width: 100vw;*/
  	height: 100vh;
}

#child-main {
	width: fit-content;
  	height: auto;
  	margin: 0;
}

#title {
	color: white;
	font-size: 10em;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	transition: transform 0.3s ease;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

#title:hover {
	transform: translateX(0.3em);
}

.d-main {
	font-size: 3em;
	color: white;
	font-family: Monospace, serif;
}


#parent-bottom {
	margin: 3em;
/*	padding-top: 5em;*/
	display: flex;
  	justify-content: flex-end;
/*  	justify-content: space-between;*/
  	align-items: flex-start;
/*  	width: 30vw;*/
  	height: fit-content;
/*  	justify-content: space-between;*/
/*  	border: 2px solid white;*/
}

#child-bottom {
	width: fit-content;
  	height: auto;
/*  	border: 2px solid white;*/
}

#about {
	width: 50vw;
	color: white;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	background-color: transparent;
/*	line-height: 0.3em;*/
	text-decoration: none;
	transition: transform 0.3s ease;
	cursor: pointer;
	border: none;
}

#about:hover {
	transform: translateX(0.5em);
}

.d-bottom {
	font-size: 1.5em;
	color: white;
	font-family: Monospace, serif;
}

#cat-container {
	position: relative;
	left: 0;
}

#blink {
	overflow: hidden;
    position: absolute;
  	bottom: 0;
  	left: 0;
}

